{% extends 'base.html' %}

{% load static %}

{% block title %} Django Bookmark List {% endblock %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>북마크 페이지</h1>
            <span class="subheading">북마크 리스트 입니다</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<h1>Bookmark List</h1>


        <li class="nav_item dropdown mx-1 btn btn-primary btn-sm">
          <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Add</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'bookmark:add' %}">Bookmark</a>
              <a class="dropdown-item" href="{% url 'blog:add' %}">Post</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'photo:album_add' %}">Album</a>
              <a class="dropdown-item" href="{% url 'photo:photo_add' %}">Photo</a>

          </div>
        </li>


        <li class="nav_item dropdown mx-1 btn btn-primary btn-sm">
          <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Change</a>
          <div class="dropdown-menu">
             <a class="dropdown-item" href="{% url 'bookmark:change' %}">Bookmark</a>
             <a class="dropdown-item" href="{% url 'blog:change' %}">Post</a>
             <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'photo:album_add' %}">Album</a>
              <a class="dropdown-item" href="{% url 'photo:photo_add' %}">Photo</a>

          </div>
        </li>



    <ul>
        {% for bookmark in object_list %}
        <li><a href="{% url 'bookmark:detail' bookmark.id %}">{{ bookmark }}</a></li>
        {% endfor %}
      </ul>

{% endblock %}
{% block extra-script %} {% endblock %}