<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post_all</title>
</head>
<body>
<h1>Blog List</h1>
<br>

{% for post in posts %}
    <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
    {{ post.modify_dt|date:"N d, Y" }}
    <p>{{ post.description }}</p>
{% endfor %}

<br>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPge</a>
        {% endif %}
    </span>
</div>

</body>
</html>