{% extends 'base.html' %}

{% load static %}

{% block title %} Django Bookmark List {% endblock %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog</h1>
            <span class="subheading">Blog List</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<h1>Blog List</h1>
<br>


        <li class="nav_item dropdown mx-1 btn btn-primary">
          <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Add</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'bookmark:add' %}">Bookmark</a>
              <a class="dropdown-item" href="{% url 'blog:add' %}">Post</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'photo:album_add' %}">Album</a>
              <a class="dropdown-item" href="{% url 'photo:photo_add' %}">Photo</a>

          </div>
        </li>


        <li class="nav_item dropdown mx-1 btn btn-primary">
          <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">Change</a>
          <div class="dropdown-menu">
             <a class="dropdown-item" href="{% url 'bookmark:change' %}">Bookmark</a>
             <a class="dropdown-item" href="{% url 'blog:change' %}">Post</a>
             <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'photo:album_add' %}">Album</a>
              <a class="dropdown-item" href="{% url 'photo:photo_add' %}">Photo</a>

          </div>
        </li>


{% for post in posts %}
    <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
    {{ post.modify_dt|date:"N d, Y" }}
    <p>{{ post.description }}</p>
{% endfor %}

<br>


<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPge</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href=">page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}

    </span>
</div>





{% endblock %}
{% block extra-script %} {% endblock %}