{% extends 'base.html' %}

{% load static %}

{% block title %} Django Bookmark List {% endblock %}

{% block header %}
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>홈 페이지</h1>
            <span class="subheading">홈페이지 입니다</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}


    <ul>
        {% for bookmark in object_list %}
        <li><a href="{% url 'detail' bookmark.id %}">{{ bookmark }}</a></li>
        {% endfor %}
      </ul>

{% endblock %}
{% block extra-script %} {% endblock %}